@import "reset.css";

.container {
    background-image: url(../img/background.png);
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    min-height: 800px;
    background:url("../img/background.png") no-repeat ;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}
.main_header {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}
.title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    padding-left: 79px;
    text-decoration: none;
}
.title:hover {
    color: #3CB878;
}
.header_links {
    display: flex;
    align-items: center;
}
.calendar{
    fill: white;
}
.calendar:hover {
    fill: #3CB878;
}
.mail {
    fill: white;
    padding: 0 25px;
}
.mail:hover {
    fill: #3CB878;
}
.compass {
    fill: white;

}
.compass:hover {
    fill: #3CB878;
}
.header_text {
    color: white;
    display: flex;
    align-items: center;
    user-select: none;
}
.header_text::before {
    content: "";
    display: inline-block;
    width: 1px;
	height: 19px;
    margin: 0 30px;
    
	background-color: white;
}
.log_in {
    text-decoration: none;
    color: white;
    padding: 5px;
}
.log_in:hover{
    color: #3CB878;
}
.sign_up {
    text-decoration: none;
    color: white;    
    padding-left: 5px;
    padding-right: 79px;
}
.sign_up:hover{
    color: #3CB878;
}
.sign_up_form {
    margin: 54px auto 54px;
    background-color: white;
    width: 444px;
    height: 620px;
}
.green_square {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    display: inline-block;
}
.form {
    width: 325px;
    margin: 0 auto;
}
.form_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
}
.form_name_sign {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

}
.form_name_sign::after {
    content: "";
    display: inline-block;
    width: 18px;
	height: 18px;
    background-color: #3CB878;
    position: relative;
    right: 126px;
} 
.form_name_log {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}
.form_name_log:hover {
    text-decoration: underline;
}
.log_buttons {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
}
.facebook_button {
    background-color: #305DB8;
    width: 49%;
    border-radius: 4px;
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.facebook_button:hover {
    background-color: #022263;
}
.button_content {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
}
.logos {
   padding-left: 16px;
}
.facebook_text {
    display: flex;
    align-items: center;
}
.facebook_text::before {
    content: "";
    display: inline-block;
    width: 1px;
	height: 28px;
    margin: 0 18px;
    background: rgba(0, 0, 0, 0.1);
}
.google_button {
    background-color:#DF4A32;;
    width: 49%;
    border-radius: 4px;
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.google_button:hover {
    background-color:#AB1F09;
}
.google_text::before {
    content: "";
    display: inline-block;
    width: 1px;
	height: 28px;
    margin-left: 7px;
    margin-right: 25px;
    background: rgba(0, 0, 0, 0.1);
}
.google_text {
    color: white;
    display: flex;
    align-items: center;
}
.or {
    display: flex;
    width: 0 auto;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    overflow: hidden;
    align-items: center;
    margin-top: 25px;
}
.or:before,.or:after {
    content:'';
    display:inline-block;
    /* vertical-align:middle; */
    box-sizing:border-box;
    width:100%;
    height:1px;
    background:rgba(132, 132, 132, 0.1); 
} 
.inputs {
    width: 300px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-top: 15px;
    padding-left: 20px;
}
.inputs:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox_area {
    display: flex;
    align-items: center;
    padding-top: 12px;
    cursor: pointer;
    user-select: none;

}
.checkbox {
    width: 20px;
    height: 20px;
}
.checkbox:indeterminate {
    color: #3CB878;
    background-color: #3CB878;
}
.agree_text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
.terms_text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #3CB878;
    padding-left: 5px;
    text-decoration: none;
}
.terms_text:hover {
    text-decoration: underline;
}
.submit_button {
    background-color: #3CB878;
    border: none;
    color: white;
    width: 100%;
    height: 46px;
    margin-top: 20px;
    border-radius: 4px;
}